name: Build

on:
  workflow_call:

env:
  BASE_ARTIFACT_URL: "https://quic-yocto-fileserver-1029608027416.us-central1.run.app/qualcomm-linux/meta-qcom/16039896579-1/"

jobs:
  print-trigger:
    strategy:
      fail-fast: true
      matrix:
        machine:
          - qcs6490-rb3gen2-core-kit 
          - qrb2210-rb1
        os:
          - poky-altcfg
          - qcom-distro
    runs-on: ubuntu-latest
    steps:
      - name: Print trigger
        id: printtrigger
        run: |
          echo "Triggered by ${{github.event_name}}"
      - name: Save URL
        id: save-url
        run: |
          echo "${BASE_ARTIFACT_URL}" > build-url_${{ matrix.machine }}_${{ matrix.os }}
      - name: Upload build URL
        uses: actions/upload-artifact@v4
        with:
          name: build-url_${{ matrix.machine }}_${{ matrix.os }}
          path: build-url_${{ matrix.machine }}_${{ matrix.os }}
#  additional-artifacts:
#    strategy:
#      fail-fast: true
#      matrix:
#        machine:
#          - m1
#          - m2
#          - m3
#          - m4
#          - m5
#          - m6
#          - m7
#          - m8
#          - m9
#          - m10
#          - m11
#          - m12
#          - m13
#          - m14
#          - m15
#          - m16
#          - m17
#          - m18
#          - m19
#          - m20
#          - m21
#          - m22
#          - m23
#          - m24
#          - m25
#        os:
#          - o1
#          - o2
#          - o3
#          - o4
#    runs-on: ubuntu-latest
#    steps:
#
#      - name: Additional Artifacts
#        run: |
#          echo "artifact" > "artifact.${{ matrix.machine }}-${{ matrix.os }}.txt"
#      - name: Upload Additional artifacts
#        uses: actions/upload-artifact@v4
#        with:
#          name: artifact.${{ matrix.machine }}-${{ matrix.os }}.txt
#          path: artifact.${{ matrix.machine }}-${{ matrix.os }}.txt
