name: Build

on:
  workflow_call:

env:
  BASE_ARTIFACT_URL: "https://quic-yocto-fileserver-1029608027416.us-central1.run.app/qualcomm-linux/meta-qcom/19166907174-1/"

jobs:
  print-trigger:
    strategy:
      fail-fast: true
      matrix:
        machine:
          - qcs6490-rb3gen2-core-kit 
          - qrb2210-rb1-core-kit
          - qcom-armv8a
          - iq-8275-evk
          - iq-9075-evk
          - qcm6490-idp
          - qcs615-adp-air
          - qcs8300-ride-sx
          - qcs9100-ride-sx
          - qrb2210-rb1-core-kit
          - qcom-armv7a
          - sm8750-mtp
        os:
          - poky-altcfg
          - qcom-distro
          - qcom-distro-prop-image
    runs-on: ubuntu-latest
    steps:
      - name: Print trigger
        id: printtrigger
        run: |
          echo "Triggered by ${{github.event_name}}"
      - name: Save URL
        id: save-url
        run: |
          echo "${BASE_ARTIFACT_URL}" > build-url_${{ matrix.machine }}_${{ matrix.os }}
      - name: Upload build URL
        uses: actions/upload-artifact@v4
        with:
          name: build-url_${{ matrix.machine }}_${{ matrix.os }}
          path: build-url_${{ matrix.machine }}_${{ matrix.os }}
  publish_summary:
    needs: print-trigger
    runs-on: ubuntu-latest
    steps:
      - name: 'Download build URLs'
        uses: actions/download-artifact@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pattern: build-url*

      - name: "Print output"
        shell: python
        id: print-output
        run: |
          import os
          ftable = {}
          oslist = set()
          machinelist = set()
          for fname in os.listdir():
              if fname.startswith("build-url"):
                  b, m, o = fname.split("_")
                  oslist.add(o)
                  machinelist.add(m)
                  url = ""
                  with open(fname, "r") as urlfile:
                      url = urlfile.read()
                  if not o in ftable:
                      ftable.update({o:{m: url}})
                  else:
                      ftable[o].update({m: url})

          table_str = "| |"

          for m in sorted(machinelist):
              table_str += f" {m} |"

          table_str += "\n|"
          for i in range(len(machinelist) + 1):
              table_str += " ---- |"

          table_str += "\n"

          for o in sorted(ftable.keys()):
              table_str += f"| {o} |"
              for m in sorted(machinelist):
                  url = ftable[o].get(m)
                  if url:
                      table_str += f" [Files]({url}/{o}/{m}/) |"
                  else:
                      table_str += " |"
              table_str += "\n"
          summary_file_name = os.environ("GITHUB_STEP_SUMMARY")
          with open(summary_file_name, "a") as summaryfile:
              summaryfile.write("## Download URLs\n")
              summaryfile.write(table_str)

#  additional-artifacts:
#    strategy:
#      fail-fast: true
#      matrix:
#        machine:
#          - m1
#          - m2
#          - m3
#          - m4
#          - m5
#          - m6
#          - m7
#          - m8
#          - m9
#          - m10
#          - m11
#          - m12
#          - m13
#          - m14
#          - m15
#          - m16
#          - m17
#          - m18
#          - m19
#          - m20
#          - m21
#          - m22
#          - m23
#          - m24
#          - m25
#        os:
#          - o1
#          - o2
#          - o3
#          - o4
#    runs-on: ubuntu-latest
#    steps:
#
#      - name: Additional Artifacts
#        run: |
#          echo "artifact" > "artifact.${{ matrix.machine }}-${{ matrix.os }}.txt"
#      - name: Upload Additional artifacts
#        uses: actions/upload-artifact@v4
#        with:
#          name: artifact.${{ matrix.machine }}-${{ matrix.os }}.txt
#          path: artifact.${{ matrix.machine }}-${{ matrix.os }}.txt
