name: Schedule build

on:
  workflow_dispatch:
#  schedule:
#  - cron: "*/5 * * * *"

permissions:
  checks: write
  pull-requests: write
  contents: read
  packages: read

jobs:
  nightly:
    uses: ./.github/workflows/build.yml
  test:
    needs: nightly
    secrets: inherit
    uses: ./.github/workflows/test.yml
    with:
      url: ${{ needs.nightly.outputs.artifact_url }}
