name: Publish test results

on:
  workflow_call:
    inputs:
      workflow_id:
        required: true
        type: string
      event_name:
        required: true
        type: string
      event_file:
        required: true
        type: string
      commit:
        required: true
        type: string

permissions:
  checks: write
  pull-requests: write
  contents: read
  packages: read

jobs:
  publish-test-results:
    name: "Publish Tests Results"
    runs-on: ubuntu-latest
    steps:
      - name: Download result files
        uses: actions/download-artifact@v6
        with:
            run-id: ${{ inputs.workflow_id }}
            path: artifacts
            github-token: ${{ github.token }}

      - name: Download result files PR
        if: ${{ github.run_id != inputs.workflow_id }}
        uses: actions/download-artifact@v6
        with:
            path: artifacts
            github-token: ${{ github.token }}

      - name: "List files"
        run: |
          echo $GITHUB_WORKSPACE
          ls -R $GITHUB_WORKSPACE

      - id: app_token
        uses: actions/create-github-app-token@v2
        if: always()
        with:
          app-id: 2311695
          private-key: ${{ secrets.PRIVATE_KEY_ENRICOMI_PUBLISH }}

      - name: Publish Test Results
        uses: ctrf-io/github-test-reporter@v1
        if: always()
        with:
            report-path: '${{ github.workspace }}/artifacts/**/*.xml'
            suite-folded-report: true
            status-check: true
            status-check-name: 'GitHub Test Reporter Results'
            exit-on-no-files: true
            exit-on-fail: true
            exit-on-empty: true
            integrations-config: |
              {
                "junit-to-ctrf": {
                  "enabled": true,
                  "action": "convert",
                  "options": {
                    "output": "./ctrf-reports/ctrf-report.json",
                    "toolname": "junit-to-ctrf",
                    "useSuiteName": false,
                    "env": {
                      "appName": "my-app"
                    }
                  }
                }
              }
