name: Publish test results

on:
  workflow_call:
    inputs:
      workflow_id:
        required: true
        type: string
      event_name:
        required: true
        type: string
      event_file:
        required: true
        type: string
      commit:
        required: true
        type: string

permissions:
  checks: write
  pull-requests: write
  contents: read
  packages: read

jobs:
  publish-test-results:
    name: "Publish Tests Results"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "List files"
        run: |
          echo $GITHUB_WORKSPACE
          ls -R $GITHUB_WORKSPACE

      - id: app_token
        uses: actions/create-github-app-token@v2
        if: always()
        with:
          app-id: 2311695
          private-key: ${{ secrets.PRIVATE_KEY_ENRICOMI_PUBLISH }}

      - name: Publish Test Results
        uses: ctrf-io/github-test-reporter@v1
        if: always()
        with:
            #report-path: '${{ github.workspace }}/results/**/*.xml'
            report-path: '${{ github.workspace }}/results/ctrf/ctrf-report.json'
            suite-folded-report: true
            status-check: true
            status-check-name: 'GitHub Test Reporter Results'
            exit-on-no-files: true
            exit-on-fail: true
            exit-on-empty: true
            upload-artifact: true
#            integrations-config: |
#              {
#                "junit-to-ctrf": {
#                  "enabled": true,
#                  "action": "convert",
#                  "options": {
#                    "output": "./ctrf-reports/ctrf-report.json",
#                    "toolname": "junit-to-ctrf",
#                    "useSuiteName": true,
#                    "env": {
#                      "appName": "my-app"
#                    }
#                  }
#                }
#              }
      - name: "List files"
        run: |
          echo $GITHUB_WORKSPACE
          ls -R $GITHUB_WORKSPACE

      - name: "Debug results"
        run: |
          cat ctrf/ctrf-report.json

