name: Run tests

on:
  workflow_call:
    inputs:
      build_id:
        required: true
        type: string

jobs:
  prepare-jobs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        machine:
          - qcs6490-rb3gen2-core-kit
          - qrb2210-rb1-core-kit
        distro:
          - name: poky-altcfg
          - name: qcom-distro
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/checkout@v4
        with:
          #repository: qualcomm-linux/lava-test-plans
          repository: mwasilew/lava-test-plans
          path: lava-test-plans
          #ref: 054bc5d39fa5014851ec97ff38940df7bd0f5bd6
          ref: dry-run-path

      - name: 'Download build URLs'
        uses: actions/download-artifact@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ inputs.build_id }}
          pattern: build-url_*

      - name: Run lava-test-plans
        run: |
          cd lava-test-plans && pip install .
          lava-test-plans --help
          #echo "PROJECT_NAME=${GITHUB_REPOSITORY#*/}" >> variables.ini
          #echo "PROJECT=projects/${GITHUB_REPOSITORY#*/}/" >> variables.ini
          echo "PROJECT_NAME=meta-qcom" >> qh-variables.ini
          echo "PROJECT=projects/meta-qcom/" >> qh-variables.ini
          echo "LAVA_JOB_PRIORTIY=50" >> qh-variables.ini
          echo "DEVICE_TYPE=${{ matrix.machine }}" >> qh-variables.ini
          echo "OS_INFO=qcom-distro" >> qh-variables.ini
          echo "BUILD_NUMBER=${{ github.run_id }}-${{ github.run_attempt }}" >> qh-variables.ini
          echo "DOCKER_IMAGE_POSTPROCESS=ghcr.io/foundriesio/lava-lmp-sign:main" >> qh-variables.ini
          echo "BOOT_IMG_FILE=boot-apq8096-db820c-qcom-armv8a.img" >> qh-variables.ini
          echo "ROOTFS_IMG_FILE=core-image-base-qcom-armv8a.rootfs.ext4" >> qh-variables.ini
          echo "BUILD_DOWNLOAD_URL=https://quic-yocto-fileserver-1029608027416.us-central1.run.app/${GITHUB_REPOSITORY}/${{ github.run_id }}-${{ github.run_attempt }}/" >> qh-variables.ini
          echo "AUTH_HEADER_NAME=Authentication" >> qh-variables.ini
          echo "AUTH_HEADER_TOKEN=PICANHA_TOKEN" >> qh-variables.ini
          IMAGE_TYPE="core-image-base"
          if [ "${{ matrix.distro.name }}" = "qcom-distro" ]; then
            IMAGE_TYPE="qcom-multimedia-image"
          fi
          echo "IMAGE_FILE_NAME=${IMAGE_TYPE}-${{ matrix.machine }}.rootfs.qcomflash.tar.gz" >> qh-variables.ini
          echo "ROOTFS_URL=https://quic-yocto-fileserver-1029608027416.us-central1.run.app/${GITHUB_REPOSITORY}/${{ github.run_id }}-${{ github.run_attempt }}/${{ matrix.distro.name }}/${{ matrix.machine }}/${IMAGE_TYPE}-${{ matrix.machine }}.rootfs.qcomflash.tar.gz" >> qh-variables.ini
          echo "AUTO_LOGIN_PASSWORD_PROMPT=Password" >> qh-variables.ini
          echo "AUTO_LOGIN_PASSWORD=oelinux123" >> qh-variables.ini
          cat qh-variables.ini
          #lava-test-plans --dry-run --variables qh-variables.ini --test-plan "${GITHUB_REPOSITORY#*/}" --device-type "${{ matrix.machine }}" --verbose 10
          lava-test-plans --dry-run --variables qh-variables.ini --test-plan "meta-qcom/${{ matrix.distro.name }}" --device-type "${{ matrix.machine }}" --dry-run-path ../${{ matrix.machine }}-${{ matrix.distro.name }}

      - name: "Generate testjobs"
        run: |
          export BUILD_URL_FILE="$GITHUB_WORKSPACE/build-url_${{ matrix.machine }}_${{ matrix.distro.name }}/build-url_${{ matrix.machine }}_${{ matrix.distro.name }}"
          echo "${BUILD_URL_FILE}"
          if [ -f "$BUILD_URL_FILE" ]; then
              # install dependencies
              export BUILD_URL=$(cat "${BUILD_URL_FILE}")
              pip install jinja2
              if [ "${{ matrix.machine }}" = "qcom-armv8a" ]; then
                  python3 ci/generatetests.py --templates ci/lava --os ${{ matrix.distro.name }} --device dragonboard-410c --build-url "${BUILD_URL}"
                  python3 ci/generatetests.py --templates ci/lava --os ${{ matrix.distro.name }} --device dragonboard-820c --build-url "${BUILD_URL}"
                  echo "MACHINE=dragonboard" >> $GITHUB_ENV
              else
                  python3 ci/generatetests.py --templates ci/lava --os ${{ matrix.distro.name }} --device ${{ matrix.machine }} --build-url "${BUILD_URL}"
                  echo "MACHINE=${{ matrix.machine }}" >> $GITHUB_ENV
              fi
          fi

      - name: "List files"
        run: |
          echo $GITHUB_WORKSPACE
          ls -R $GITHUB_WORKSPACE

      - name: 'Upload test jobs'
        uses: actions/upload-artifact@v4
        with:
          name: testjobs-${{ matrix.machine }}-${{ matrix.distro.name }}
          path: ${{ env.MACHINE}}*-${{ matrix.distro.name }}

  prepare-job-list:
    needs: prepare-jobs
    runs-on: ubuntu-latest
    outputs:
      jobmatrix: ${{ steps.listjobs.outputs.jobmatrix }}
    steps:
      - name: 'Download job templates'
        uses: actions/download-artifact@v4
        with:
          pattern: testjobs-*

      - name: "List jobs"
        id: listjobs
        run: |
          JOBFILES=$(find . -name *.yaml)
          JOBFILES=$(echo "$JOBFILES" | sed -e "s/^/\"/" | sed -e "s/$/\",/" | tr -d "\n" | sed -e "s/.$//")
          JOBFILES="[${JOBFILES}]"
          J=$(jq -cn --argjson jobfiles "$JOBFILES" '{target: $jobfiles}')
          echo "jobmatrix=$J" >> $GITHUB_OUTPUT
          echo "Preparing testjob files"

  submit-job:
    needs: prepare-job-list
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.prepare-job-list.outputs.jobmatrix) }}
    steps:
      - name: 'Download job templates'
        uses: actions/download-artifact@v4
        with:
          pattern: testjobs-*

      - name: 'Prepare output file name'
        run: |
          OUTPUT_NAME=$(echo "${{ matrix.target }}" | sed "s|\/|-|g")
          echo "RESULT_NAME=${OUTPUT_NAME#??}" >> $GITHUB_ENV

      - name: Submit ${{ matrix.target }}
        timeout-minutes: 20
        uses: foundriesio/lava-action@v9
        with:
          lava_token: ${{ secrets.LAVA_TOKEN }}
          lava_url: 'lava.infra.foundries.io'
          job_definition: ${{ matrix.target }}
          wait_for_job: true
          fail_action_on_failure: false
          fail_action_on_incomplete: false
          save_result_as_artifact: true
          save_job_details: true
          result_file_name: "${{ env.RESULT_NAME }}"

  publish-test-summary:
    name: "Publish Tests Summary"
    needs: submit-job
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: "List files"
        run: |
          echo $GITHUB_WORKSPACE
          ls -R $GITHUB_WORKSPACE

      - name: Publish Test Job Details
        run: |
          for json_file in $(find ${{ github.workspace }} -name "test-job-*.json")
          do
              DEVICE_TYPE=$(cat "$json_file" | jq -r ".requested_device_type")
              URL=$(cat "$json_file" | jq -r ".url")
              JOB_ID=$(cat "$json_file" | jq -r ".id")
              JOB_TITLE=$(cat "$json_file"| jq -r ".description")
              echo " * [Job $JOB_ID on $DEVICE_TYPE]($URL) - ${JOB_TITLE}"
              echo " * [Job $JOB_ID on $DEVICE_TYPE]($URL) - ${JOB_TITLE}" >> $GITHUB_STEP_SUMMARY
          done
